*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.style1:hover {
    color: rgb(173, 9, 9) !important;
    display: inline-block !important;
}
.style1 {
    font-size: 18px;
}
.style2 {
    font-size: 18px !important;
}
.style2:hover {
    color: rgb(6, 122, 255) !important;
    display: inline-block !important;
}


/* حالت موبایل */
@media (max-width: 768px) {
    .table-responsive {
        direction: ltr;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        border-radius: 12px;
        width: 100%;
        overflow: auto;
        padding-bottom: 8px;
    }

    .table-responsive table {
        width: 100%;
        white-space: nowrap;
        direction: ltr;
        min-width: 650px;
    }

    .table td,
    .table th {
        padding: 10px 6px !important;
        font-size: 0.85rem !important;
        white-space: nowrap;
    }

    /* آیکون‌های بزرگ‌تر  */
    .table td span {
        font-size: 15px !important;
    }

    /* عنوان جدول  */
    .table th {
        background: #1f1f1f !important;
        color: #fff !important;
        text-align: center;
    }

    .style4 {
        z-index: 5 !important;
    }
    .style3 {
        width: 100% !important;
    }
    .style3:hover {
        transform: none !important;
    }
}

.table-dark:nth-child(1) {
    --bs-table-color: #fff;
    --bs-table-bg: #1b1b1b;
    /* --bs-table-border-color: #4d5154; */
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
}
.status-label {
    display: inline-block;
    min-width: 90px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 6px;
}

