*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.style1:hover {
    color: rgb(173, 9, 9) !important;
    display: inline-block !important;
}
.style1 {
    font-size: 18px;
}
.style2 {
    font-size: 18px !important;
}
.style2:hover {
    color: rgb(0, 30, 65) !important;
    display: inline-block !important;
}

/* ----------------------------------------------------- */

/* --------------------------------------------------------------- */
.table th {
    background: #030303e5 !important;
    color: #fff !important;
    text-align: center;
}
.status-label {
    display: inline-block;
    min-width: 90px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 6px;
}
.style5 {
    background-color: #000322e0 !important;
    color: #fff !important;
}
.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: rgba(76, 109, 218, 0.123) !important;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgb(255, 255, 255) !important;
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
/* حالت موبایل */
@media (max-width: 576px) {
    .table {
        --bs-table-bg-type: rgb(207, 203, 203) !important;
    }
    table thead {
        display: none;
    }
    table tbody {
    }
    table tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        padding:0px;
        border-radius: 6px;
        background-color: rgba(1, 0, 56, 0.192);
    }

    table td {
        display: flex;
        justify-content: space-between;
        padding: 6px 0;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #555;
    }

    .pagination {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }
    .pagination .page-item {
        margin: 2px !important;
    }

    .style6 {
        font-size: 13px !important;
        margin-top: 3px !important;
    }
    .style7 {
        border-radius: 0px !important;
    }
}
