*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.style1:hover {
    color: rgb(173, 9, 9) !important;
    transform: scale(1.5,1.5) rotate(10deg) !important;
    display: inline-block !important;
}
.style2:hover {
    color: rgb(6, 122, 255) !important;
    transform: scale(1.3,1.3) rotate(10deg) !important;
    display: inline-block !important;
}
.style3:hover{
    color: rgb(255, 255, 255) !important;
    transform: scale(1.2,1.2)  !important;
    display: inline-block !important;
    transition: all 0.5s;
}
/* حالت موبایل */
@media (max-width: 768px) {

    .table-responsive {
        direction: rtl;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        border-radius: 12px;
        padding-bottom: 8px;
    }

    .table-responsive table {
        direction: ltr;
        min-width: 650px;  
    }

    
    .table td, .table th {
        padding: 10px 6px !important;
        font-size: 0.85rem !important;
        white-space: nowrap;
    }

    /* آیکون‌های بزرگ‌تر  */
    .table td span {
        font-size: 20px !important;
    }

    /* عنوان جدول  */
    .table th {
        background: #1f1f1f !important;
        color: #fff !important;
        text-align: center;
    }

}