*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.style1:hover {
    color: rgb(173, 9, 9) !important;
    transform: scale(1.5,1.5) rotate(10deg) !important;
    display: inline-block !important;
}
.style2:hover {
    color: rgb(6, 122, 255) !important;
    transform: scale(1.3,1.3) rotate(10deg) !important;
    display: inline-block !important;
}
.style3:hover{
    color: rgb(255, 255, 255) !important;
    transform: scale(1.2,1.2)  !important;
    display: inline-block !important;
    transition: all 0.5s;
}
